<div id="<%= dom_id employee %>">
  <p>
    <strong>Restaurant:</strong>
    <%= employee.restaurant_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= employee.position %>
  </p>

</div>
