<div class="container">
  <h3 class="text-primary">New Restaurant Created</h3>
  <hr>
  <p class="lead">A new restaurant has been created:</p>
  <dl class="row">
    <dt class="col-sm-3">Name:</dt>
    <dd class="col-sm-9"><%= @restaurant.name %></dd>
    <dt class="col-sm-3">Location:</dt>
    <dd class="col-sm-9"><%= @restaurant.location %></dd>
  </dl>
  <p class="text-muted">Thank you for using our service!</p>
</div>
