<h1>Editing reservation guest</h1>

<%= render "form", reservation_guest: @reservation_guest %>

<br>

<div>
  <%= link_to "Show this reservation guest", @reservation_guest %> |
  <%= link_to "Back to reservation guests", reservation_guests_path %>
</div>
